<div class="row no-gutters">
    <div class="col-md-4">
        <div class="container-fluid">
            <div class="col mb-4 shadow">
                <%= form_tag("/en", method: "post") do %>
                    <div class="form-group row mb-3 mt-2 pt-3">
                        <label class="col-6 col-form-label text-right" for="current_balance_en">Current Balance($)</label>
                        <div class="col-6"><input class="form-control" type="tel" pattern="-?[0-9]*(\.[0-9]+)?" id="current_balance_en" name="current_balance_en" placeholder ="Current Balance($)" value="<%=cookies[:current_balance_en]%>"></div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-6 col-form-label text-right" for="monthly_addition_en">Monthly Add($)</label>
                        <div class="col-6"><input class="form-control" type="tel" pattern="-?[0-9]*(\.[0-9]+)?" id="monthly_addition_en" name="monthly_addition_en" placeholder ="Monthly Add($)" value="<%=cookies[:monthly_addition_en]%>"></div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-6 col-form-label text-right" for="interest_rate_year_en">Interest Rate(%)</label>
                        <div class="col-6"><input class="form-control" type="tel" pattern="-?[0-9]*(\.[0-9]+)?" id="interest_rate_year_en" name="interest_rate_year_en" placeholder ="Interest Rate(%)" value="<%=cookies[:interest_rate_year_en]%>"></div>
                    </div>
                    <div class="form-group row mb-3">
                        <label class="col-6 col-form-label text-right" for="period_year_en">Period(year)</label>
                        <div class="col-6"><input class="form-control" type="tel" pattern="-?[0-9]*(\.[0-9]+)?" id="period_year_en" name="period_year_en" placeholder ="Period(year)" value="<%=cookies[:period_year_en]%>"></div>
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary w-100 mb-4">Calculation</button>
                <%end%>
            </div>
            <div class="col shadow py-3 mb-3">
                <font size="5">

                <div class="row mb-1">
                    <div class="col-6 text-right"> Amount:</div>
                    <div class="col-6 text-left"><%= @no_investment_final_balance_en %>$</div>
                </div>
                <div class="row mb-1">
                    <div class="col-6 text-right">Final Balance:</div>
                    <div class="col-6 text-left"><font color="blue"><%= @compound_final_balance_en %>$</font></div>
                </div>
                <div class="row mb-1">
                    <div class="col-6 text-right">Increase Rate:</div>
                    <div class="col-6 text-left"><font color="blue"><%= @rate_of_increase_en %>%</font></div>
                </div>
                </font>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="container-fluid">
            <div class="col mb-4 shadow mt-2 pt-2 pb-4">
                <%= high_chart("my_chart", @chart_en) %>
            </div>
        </div>
    </div>
</div>
